.CardContainer{
    width: 20%;
    margin: 2em;
  
 
    
}
.CardContainer img{
    border-radius: 10%;
    margin-bottom: 1em;
}
.CardContainer h4{
    text-align: center;

}
.CardContainer p{
    text-align: center;
}